{% extends 'base.html' %} {% load static %} 
{% block title %} Home {% endblock%} 
{% block content %}
<style>
  .carousel-inner {
    height: 500px; /* fixed carousel height */
  }

  .carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #000;
  }
</style>
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'media/img1.jpg' %}" class="d-block w-100" alt="..." width="300"/>
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'media/img4.jpg' %}"
        class="d-block w-100"
        alt="..." width = "300"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'media/img3.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleRide"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleRide"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br />
<h1 class="recentblog" style="text-align: center">RECENT BLOG</h1>
<hr />
<div class="cards-container">
  {% for post in allPosts %}
  <div class="card">
   {% if post.image %}
      <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300" />
      {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content | truncatechars:100}}</p>
      <p class="card-text">{{post.author}}</p>
      <a href="/blog/{{post.slug}}" class="btn btn-primary  ">READ MORE</a>
      <a href="/editblog/{{post.slug}}" class="btn btn-warning m-1 ">EDIT</a>
      <a href="/deleteblog/{{post.slug}}" class="btn btn-danger m-1">DELETE</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
