{% extends 'base.html' %}
{% block title %} newblog {% endblock title %} 
{% block content %}
{% for message in messages %}
        <div
          class="alert alert-{{message.tags}} alert-dismissible fade show"
          role="alert"
          id="message-container"
        >
          <strong>{{message}}</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
<div class="pt-3">
<div class="pt-3 col-lg-5 shadow mx-auto p-0 pt-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="p-3">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="name" aria-describedby="name" name="title">
  </div>
  <div class="p-3">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="email" aria-describedby="emailHelp" name="content" rows="10" cols="50"></textarea>
  </div>
   <div class="p-3">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="number" name="author">
  </div>
  <div class="p-3">
        <label for="imageq">Image</label>
        <input type="file" class="form-control" name="featured_image">
    </div>
  <div class="p-4 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">SUBMIT</button>
  </div>
</form>
</div>
</div>

{% endblock %}
